
picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
}

img {
  box-shadow: 0 0 15px #999;
  border-radius: 5px;
  width: 100px;
}

img:hover {
    transform: scale(1.1);
    transition: .5s;
    border-radius: 50%;
    cursor: pointer;
  }
